.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    margin-top: 5rem;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
