:root {
	--col-fg: #dedede;
	--col-bg-light: #222;
	--col-bg-dark: #161616;
	/*
	--col-bg-light: #161616;
	--col-bg-dark: black;
	*/
	--col-gray: #323232;
	--col-orange: #ff9030;
	--col-yellow: #ffff60;

	--col-orange-darker: #803c00;
	--col-yellow-darker: #999900;

	--fsize-h1: 4em;
	--fsize-h2: 3em;
	--fsize-header: 2em;
	--fsize-title: 1.5em;

	--gap-button-row: 1em;

	--shadow-s:
	inset 0 1px 2px white,
	0 2px 4px black,
	0 4px 8px black;

	font-family: "Kanit";
	color: var(--col-fg);
	background: linear-gradient(0deg, var(--col-bg-dark) 0%, var(--col-bg-light) 100%);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	margin: 0;
	justify-items: center;
}
body p {
	width: 80vw;
}
h2 {
	font-size: var(--fsize-h2);
}

.title {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;

	width: 55rem;

	/* Margin makes distance to content and navbar */
	margin: 5rem auto;
}
.title h1 {
	font-size: var(--fsize-h1);
	text-align: center;
	line-height: 1em;
}
.title p {
	text-align: center;
	font-size: var(--fsize-title);

	width: 80%;
}

#header {
	background-color: var(--col-bg-light);

	/* Boilerplate styles for navbars */
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1rem 3rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	border-bottom: 1px solid var(--col-gray);
}
#header nav {
	display: flex;
	gap: 3rem;
}
#header a {
	font-size: var(--fsize-header);

	color: var(--col-fg);
	text-decoration: none;

	/* TODO LATER header buttons transitioning like buttons
	padding: 5px 15px;
	*/
}
#header a:hover {
	background: linear-gradient(90deg, var(--col-orange), var(--col-yellow) 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	/* TODO LATER header buttons transitioning like buttons
	box-shadow: var(--shadow-s);
	*/
}

#lettering {
	font-weight: bold;
}

.button-row {
	display: flex;
	gap: var(--gap-button-row);
}
.button {
	text-decoration: none;

	font-size: var(--fsize-title);
	border-radius: 10% / 30%;

	padding: 15px 20px;

	color: var(--col-fg-dark);
	transition: box-shadow 400ms ease;
}
.button:hover {
	/* TODO NOW */
	box-shadow: var(--shadow-s);
}
.main-button {
	background: linear-gradient(90deg, var(--col-orange), var(--col-yellow) 80%);
	background-size: 200% 100%;
	background-position: 0 0;
	transition: background-position 900ms ease;

	color: var(--col-bg-dark);
	box-shadow: var(--shadow-s);
}
.main-button:hover {
	background-position: 100% 0;
}

.slide {
	width: 100%;
	background-color: pink; /* TODO PLACEHOLDER */

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 30vh 100px;
}

@font-face {
	font-family: "Kanit";
	src: url("assets/Kanit-Regular.ttf") format("truetype");
	font-weight: normal;
}
@font-face {
	font-family: "Kanit";
	src: url("assets/Kanit-SemiBold.ttf") format("truetype");
	font-weight: 600;
}
